@font-face {
  font-family: 'CoFo Sans VF Trial';
  src: url('/fonts/cofosansvf-Trial.ttf') format('truetype');
  font-weight: 1 999;
  font-style: normal;
}

@font-face {
  font-family: 'CoFo Sans VF Trial:Medium';
  src: url('/fonts/cofosansvf-Trial.ttf') format('truetype');
  font-weight: 1 999;
  font-style: normal;
}
